<!DOCTYPE html>
<html>
  <% include head %>
  <body id="whole-body">
      <span class="overlay-container">
	    <div class="overlay"></div>
	    <div class="message-container">
	      <h2 id="message-title">Thank you</h2>
	      <p id="message-description">We look forward to seeing you at our next meeting!</p>
	    </div>
	  </span>

	  <div class="col-lg-4 col-md-7 col-sm-6 col-xs-12 login-card">
		  
		    <form action="/join" method="POST" id='form' class="col-lg-12">
		    	<div id="signup-form">
			      <!-- Logo -->
		          <div class="col-lg-12 logo-container">
		              <img width="200" class="logo" src="/images/WiCS-Logo-Transparent.png" alt="Logo" />
		          </div>

		          <div style="clear:both;"></div>

			      <div class="group">
			          <input type="text" name="firstName" id="firstName" pattern="[a-zA-Z\u00C0-\u017F' -]+" maxlength="35" required>
			      	  <span class="highlight"></span>
	            	  <span class="bar"></span>
	            	  <label for="firstName"><i class="material-icons input-icon">person_outline</i><span class="span-input">*First Name</span></label>
			      </div>
			      <div class="group">
			          <input type="text" name="lastName" id="lastName" pattern="[a-zA-Z\u00C0-\u017F' -]+" maxlength="35" required>
			          <span class="highlight"></span>
	            	  <span class="bar"></span>
			          <label for="lastName"><i class="material-icons input-icon">person_outline</i><span class="span-input">*Last Name</span></label>
			          
			      </div>
			      <div class="group">
			      	  <input type="text" name="studentId" id="studentId" pattern="\d{7}" maxlength="7" required>
			      	  <span class="highlight"></span>
	            	  <span class="bar"></span>
			          <label for="studentId"><i class="material-icons input-icon">credit_card</i><span class="span-input">*Student ID</span></label>
			          
			      </div>
		          <div class="group">
		          	  <input type="text" name="dateOfBirth" id="datepicker" required readonly="true">
		          	  <span class="highlight"></span>
	            	  <span class="bar"></span>
		          	  <label for="dateOfBirth"><i class="material-icons input-icon">date_range</i><span class="span-input">*Date of Birth</span></label>
		          	  
		          </div>
			      <div class="group">
			      	  <input type="email" name="email" id="email" pattern="[\w.+-]*\w+@[\w-]+(\.[\w-]+)+" required>
			      	  <span class="highlight"></span>
	            	  <span class="bar"></span>
			          <label for="email"><i class="material-icons input-icon">mail_outline</i><span class="span-input">*Email<span class="error"></span></span></label>  
			      </div>
			      <div class="group">
			      	  <input type="text" autocapitalize="off" id="githubUsername" name="githubUsername" pattern="[a-zA-Z0-9-]*" maxlength="35" required>
			      	  <span class="highlight"></span>
	            	  <span class="bar"></span>
			          <label for="githubUsername"><i class="material-icons input-icon">account_circle</i><span class="span-input">Github Username<span class="error"></span></span></label>          
			      </div>
		  
			      <div class="row form-row">
			        <div class="eight columns offset-by-two error" id="other-error"></div>
			      </div>
			      <a href="javascript:void(0);" class="survey-button">Go to Survey</a>
			      <hr>
			    </div>

		    	<div id="survey-form">
		    	  <!-- Logo -->
		          <div class="col-lg-12 logo-container">
		              <img width="200" class="logo" src="/images/WiCS-Logo-Transparent.png" alt="Logo" />
		          </div>

			      <div class="group">
			          <h3>Describe yourself</h3>
			          <p>We would love to know about where you're at and what you're interested in!
			          <br>
			          <small>- WiCS is open to everyone, this has no effect on joining. Just some information to know you better.</small>
			          </p>
			      </div>
			      <div class="group">
			      	  <input type="radio" name="experience" value="confident">
			          <span class="label-body">Confident Programmer - Built complete non-C++ projects</span>

		              <input type="radio" name="experience" value="aspiring">
		              <span class="label-body">Advancing Programmer - Dabbled in other languages</span>

		              <input type="radio" name="experience" value="new">
		              <span class="label-body">New Programmer - Just started with DVC C++</span>
		            
		              <input type="radio" name="experience" value="non-programmer">
		              <span class="label-body">Non-Programmer - "for loop what?!"</span>

		              <span class="highlight"></span>
	            	  <span class="bar"></span>

		              <label>Programming Level</label>

			      </div>

			      <div class="group"> 
				      <div class ="group"> 
			            <input type="checkbox" name="interests" value="front-end">
			            <span class="label-body">Front-End Web Development - HTML/CSS/JavaScript</span>
			            <input type="checkbox" name="interests" value="back-end">
			            <span class="label-body">Back-End Web Development - Web Apps, APIs, Node.js, Flask</span>
			            <input type="checkbox" name="interests" value="dev-ops">
			            <span class="label-body">Dev Ops - Linux servers, databases, load-balancers, etc.</span>
			            <input type="checkbox" name="interests" value="mobile">
			            <span class="label-body">Mobile Development - iOS/Android apps</span>
			            <input type="checkbox" name="interests" value="hardware">
			            <span class="label-body">Hardware - Arduino, drones, etc.</span>
			            <input type="checkbox" name="interests" value="fundamentals">
			            <span class="label-body">CS Fundamentals - Algorithms, Data Structures, ML</span>
			            <input type="checkbox" name="interests" value="functional">
			            <span class="label-body">Functional Programming - Haskell, Scala, etc.</span>
			            <label>What interests you?</label>
			         </div>
			         <div class="group">   
			            <input class="more-input" type="text" name="more-interests" required>
						<span class="highlight"></span>
						<span class="bar"></span>
			            <label><span class="span-input">More</span></label>			             	
		             </div>		          
			      </div>

			      <div class="group">
				      <div class="group">		          
			            <input type="checkbox" name="projects" value="personal-site">
			            <span class="label-body">Personal Website/Blog</span>

			            <input type="checkbox" name="projects" value="web-game">
			            <span class="label-body">Web Game</span>

			            <input type="checkbox" name="projects" value="mobile-app">
			            <span class="label-body">Mobile Application (iOS/Android)</span>

			            <input type="checkbox" name="projects" value="web-app">
			            <span class="label-body">Web Application & API</span>
			            <label>What kinds of projects do you want to make?</label>
			          </div>

			          <div class="group">   
			            <input class="more-input" type="text" name="more-projects" required>
						<span class="highlight"></span>
						<span class="bar"></span>
			            <label><span class="span-input">More</span></label>			             	
			           </div>
			      </div>

			      <div class="group">	
				      <div class="group">          
			            <input type="checkbox" name="events" value="showcase">
			            <span class="label-body">Showcase Night - show off projects we've made</span>

			            <input type="checkbox" name="events" value="meetup">
			            <span class="label-body">Dev Meetups - developer meetups in the Bay Area</span>

			            <input type="checkbox" name="events" value="hackathon">
			            <span class="label-body">Hackathons - Cal Hacks, Treehacks, or one at DVC!</span>

			            <input type="checkbox" name="events" value="infosession">
			            <span class="label-body">Info sessions - Companies talking about jobs/internships</span>
			            
			            <label>What kind of events and activities are you interested in?</label>
			          </div>
			          <div class="group">   
			            <input class="more-input" type="text" name="more-events" required>
						<span class="highlight"></span>
						<span class="bar"></span>
			            <label><span class="span-input">More</span></label>			             	
			           </div>
			      </div>

			      <div>
			          <input class="submit-button" id="join-button" type="submit" value="Join">
			        </div>
			      </div>

			    </div>
		    </form>
		</div>
  </body>
</html>
